$container-height: 900px;
$main-image-width: 645px;
$main-image-height: 464px;
$main-image-nav-width: 50px;
$main-slider-width: $main-image-width + 2 * $main-image-nav-width;
$thumbnail-slider-number-slides-visible: 5;
$thumbnail-image-width: 130px;
$thumbnail-image-part-hidden: 0.2;
$thumbnail-nav-width: 50px;
$thumbnail-selected-slide-underliner-height: 10px;
$thumbnail-margin-top-large-touch-screen: 25px;
$thumbnail-nav-vertical-offset: 55px;
$thumbnail-nav-vertical-offset-touch-screen: 45px;
$caption-margin-top: 15px;
$caption-padding-sides: 5px;



