$container-height: 900px;
$main-image-width: 1200px;
$main-image-height: 450px;
$main-image-nav-width: 50px;
$main-slider-width: $main-image-width + 2 * $main-image-nav-width;
$thumbnail-slider-number-slides-visible: 5;
$thumbnail-image-width: 200px;
$thumbnail-image-part-hidden: 0.6;
$thumbnail-nav-width: 50px;
$thumbnail-selected-slide-underliner-height: 10px;
$thumbnail-nav-vertical-offset: 72px;
$caption-padding-right: 0px;
$caption-margin-top: 15px;



